
/*Colors Used in Text*/

.col-ash{
    color: rgb(144, 144, 144);
}

.col-blue{
    color: #4E47FF;
}

/*Buttons Used*/

.button{
    color: white;
    font-size: 18px;
    background-color: #4E47FF;
    padding: 15px 40px;
    border: none;
    border-radius: 12px;
}

.button:hover {
    background-color: #ff24de;
    transform: scale(1.1);
}

/*------Header Section-------*/
header{
    height: 698px;
    width: 100%;

    background-image: url('Hero-bg.png');
    margin-bottom: 120px;
}


/*--Top Container--*/

.top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;   
}


.logo{
    
    font-family: 'Inter', 'Helvetica', sans-serif;font-weight:900;
    font-size: 2.2em;   
}




/*--Middle Container--*/

.mid-container{
    height: 550px;
    margin: 0px 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mid-container div{
    font-size: 70px;
    font-family: 'Inter', 'Segoe UI', 'Poppins', sans-serif;font-weight: 625;
    margin-bottom: 20px;
}


/*-----Body Area-----*/

body{
    font-family: 'Inter', 'Helvetica', sans-serif;
    background-color: #f5f8ff;

}


main section{
    margin: 0px 140px;
}


/*--See it in action area--*/

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

/*Text Container*/
.texts{
    margin-right: 170px;

}

.action h3{
    font-size: 2.6em;
    margin-bottom: -10px;
}

.action p{
    color: rgb(144, 144, 144);
    font-size: 1.7em;
    margin-right: 50px;
    
}

/*Image Container*/
.action-img{
    border-radius: 50px;  
}


/*--Statistics Container--*/

.stat-container{
    background-color: rgb(227, 231, 255);
    height: 290px;
    border-radius: 20px;
    padding: 6px 140px;
    margin-bottom: 150px;
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

.stat-container h2{
    text-align: center;
    font-size: 2.4em;
    margin-bottom: 30px;
    
}


.stat-numbers{
    display: flex;
    justify-content: space-between;

}

/*Upper Text of stat*/
.stat-numbers strong{
    font-size: 5.4em;
}

/*Lower Text of stat*/
.stat-numbers p{
    text-align: center;
    font-size: 1.4em;
    margin-top: -10px;
}


/*--Review Section--*/

.user-opinion h1{
    text-align: center;
    font-size: 2.8em;
    margin-bottom: 50px;
}

/*Container box of reviews*/
.rev-container{
    height: 200px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 200px;
    border: 1px solid #f2eded;
}

.reviews{
    display: flex;
    gap: 25px;
}

.star{
    display: flex;
    gap: 7px;
    margin-bottom: 25px;
}

/*Reviewer's Opinion*/
.rev-container p{
    font-weight: 300;
}

.reviewer{
    display: flex;
    align-items: center;
    gap: 15px;
}

.reviewer img{
    border-radius: 100%;
}

.reviewer b{
    color: #757575;
}

.reviewer div{
    color: #b3b3b3;
}


/*Ready to focus better section*/
.get-start{
    height: 600px;
    background-color: white;
    margin-bottom: 180px;
    padding: 30px 150px  50px 150px;
    text-align: center;
    border-radius: 15px;
}

.get-start h1{
    text-align: center;
    font-size: 3.2em;
    margin-bottom: 20px;
}

.get-start p{
    font-size: 1.1em;
}

.get-start img{
    margin-top: 20px;
    border-radius: 40px;
}


/*Let's get in touch section*/
.get-in-touch{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;

}

.get-in-touch h1{
    font-size: 6em;
}


.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

/*Form*/

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.contact-form input {
  width: 450px;
  height: 70px;
  margin-bottom: 20px;
  padding: 0px 0px 0px 30px;
  border: 1px solid #e0e0e0;
  border-radius: 14px;
  font-size: 20px;
  outline: none;
  background-color: #fff;
}

/*message box*/
.contact-form textarea {
  width: 100%px;
  height: 100px;
  resize: none;
  margin-bottom: 20px;
  padding: 20px 0px 20px 30px;
  border: 1px solid #e0e0e0;
  border-radius: 14px;
  font-size: 20px;
  background-color: #fff;
  font-family: 'Inter', 'Helvetica', sans-serif;
}

/*---Footer area---*/
footer{
    background-color: white;
    height: 440px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    text-align: center;
    font-size: 6em;
    font-weight: 800;
}

footer p{
    width:500px;
    text-align: center;
}

.items{
    width:500px;
    display: flex;
    justify-content: space-evenly;
}

.items a{
    color:  rgb(144, 144, 144);
    text-decoration: none;
}